/*!
  Theme: GitHub (Adapted for dynamic light/dark mode)
*/

.hljs {
  color: var(--text-color);
  background: var(--background-color);
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  color: #d73a49;
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  color: #6f42c1;
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
  color: #005cc5;
}

.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
  color: #032f62;
}

.hljs-built_in,
.hljs-symbol {
  color: #e36209;
}

.hljs-comment,
.hljs-code,
.hljs-formula {
  color: var(--subtle-text-color);
}

.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
  color: #22863a;
}

.hljs-subst {
  color: var(--text-color);
}

.hljs-section {
  color: #005cc5;
  font-weight: bold;
}

.hljs-bullet {
  color: #735c0f;
}

.hljs-emphasis {
  color: var(--text-color);
  font-style: italic;
}

.hljs-strong {
  color: var(--text-color);
  font-weight: bold;
}

.hljs-addition {
  color: #22863a;
  background-color: #f0fff4;
}

.hljs-deletion {
  color: #b31d28;
  background-color: #ffeef0;
}

/*!
  Theme: GitHub Dark
  Description: Dark theme as seen on github.com
*/

.dark .hljs {
  color: #c9d1d9;
}

.dark .hljs-doctag,
.dark .hljs-keyword,
.dark .hljs-meta .hljs-keyword,
.dark .hljs-template-tag,
.dark .hljs-template-variable,
.dark .hljs-type,
.dark .hljs-variable.language_ {
  color: #ff7b72;
}

.dark .hljs-title,
.dark .hljs-title.class_,
.dark .hljs-title.class_.inherited__,
.dark .hljs-title.function_ {
  color: #d2a8ff;
}

.dark .hljs-attr,
.dark .hljs-attribute,
.dark .hljs-literal,
.dark .hljs-meta,
.dark .hljs-number,
.dark .hljs-operator,
.dark .hljs-variable,
.dark .hljs-selector-attr,
.dark .hljs-selector-class,
.dark .hljs-selector-id {
  color: #79c0ff; /* This is the light blue for variables */
}

.dark .hljs-regexp,
.dark .hljs-string,
.dark .hljs-meta .hljs-string {
  color: #a5d6ff; /* This is the light blue for strings */
}

.dark .hljs-built_in,
.dark .hljs-symbol {
  color: #ffa657;
}

.dark .hljs-comment,
.dark .hljs-code,
.dark .heading.local .hljs-formula {
  color: #8b949e;
}

.dark .hljs-name,
.dark .hljs-quote,
.dark .hljs-selector-tag,
.dark .s.h.s .hljs-selector-pseudo {
  color: #7ee787;
}

.dark .hljs-subst {
  color: #c9d1d9;
}

.dark .hljs-section {
  color: #1f6feb;
  font-weight: bold;
}

.dark .hljs-bullet {
  color: #f2cc60;
}

.dark .hljs-emphasis {
  color: #c9d1d9;
  font-style: italic;
}

.dark .hljs-strong {
  color: #c9d1d9;
  font-weight: bold;
}

.dark .hljs-addition {
  color: #aff5b4;
  background-color: #033a16;
}

.dark .hljs-deletion {
  color: #ffdcd7;
  background-color: #67060c;
}