html, body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
	background-color: #fbfbfb;
	height: 100%;
}

textarea {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	font-size: 12px;
}

#header {
	margin-top: 1em;
	text-align: center;
}

#header > h1 {
	margin-top: 0;
}

#header img {
	float: left;
}

#bothContainers {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: 5em;
	width: 100%;
}

#leftContainer, #rightContainer {
	margin: 0;
	padding: 0;
	position: absolute;
	width: 48.5%;
	top: 0;
	bottom: 0;
}

#leftContainer {
	float: left;
	left: 1%;
}

#rightContainer {
	float: right;
	right: 1%;
}

#rightContainer > * {
	float: right;
}

.label {
	float: none !important;
}

.pane {
	margin: 1.6em 0em 0.2em;
	padding: 0.6em;
	display: block;
	border: 1px solid #ccc;
	border-radius: 2px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	overflow: auto;
}

#previewPane {
	background-color: #f3eeee;
}

#outputPane {
	background-color: #6c6666;
	color: #fff;
	display: none;
}

#syntaxPane {
	background-color: #e6dede;
	background-color: #f7ecec;
	display: none;
}

#inputPane {
	background-color: #fff;
}

#previewPane {
	padding: 0;
}

#previewPane > * {
	margin-left: 4px;
	margin-right: 4px;
}

#previewPane > blockquote {
	margin-left: 3em;
}

#previewPane > :first-child {
	margin-top: 4px; /* pane padding */
}

#previewPane * {
	line-height: 1.4em;
}

#previewPane code {
	font-size: 1.3em;
}

.github-ribbon {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
	z-index: 1000;
}
